<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}} - {{ geomodifier }} </title>
  </head>
    <body>
        <h1> {{name}} - {{ geomodifier }}</h1>

        <div> 
          <div class='branch-details'>
            <h4>Branch Details</h4>
            <p>{{name}} </p>
            <p>{{address}} </p>
            <p>{{phone}} </p>
          </div>

          <div class='branch-hours'>
            <h4>Branch Hours</h4>
            {{#each hours}}
              <p>{{this}} </p>
            {{/each}}
          </div>
          
        </div>


    </body> 
</html>
