<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{name}} - {{ geomodifier }} </title>
  </head>
    <body>
        <h1> {{name}} - {{ geomodifier }}</h1>

        <div> 
          <div class='branch-details'>
            <h4>Branch Details</h4>
            <p>{{name}} </p>
            <p>Address: {{address}} </p>
            <p>Phone: {{phone}} </p>
          </div>

          <div class='branch-hours'>
            <h4>Branch Hours</h4>
            <div class='hours-list'>
              {{#each hours}}
                <p>{{@key}}
                {{#each this}}
                  {{#each this}}
                    Opens:{{this.start}} Closes:{{this.end}}
                  {{/each}}
                {{/each}} 
                </p> 
              {{/each}}
            </div>
          </div>

          <div class='branch-services'>
            <h4>Services</h4>
            <ul class="services-list">
              {{#each services}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>


    </body> 
</html>
